.movie-page {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
}

.movie-page svg {
  font-size: 1.5rem;
  color: var(--color-primary);
  transition: var(--transition);
}

.movie-page .movie-card {
  text-align: center;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
  margin-bottom: 1rem;
}

.movie-page .movie-card h2 {
  font-size: 2rem;
}

.movie-page .movie-card p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.tagline {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.info {
  margin: 1.5rem;
}

.info h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description {
  padding-bottom: 10rem;
}

.description p {
  line-height: 1.4rem;
}

.dados {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  background: var(--color-bg);
  border-radius: 10px;
  transition: var(--transition);
}

.dados:hover {
  background: var(--color-secondary);
  color: var(--color-bg);
  font-weight: bold;

  && svg {
    color: var(--color-bg);
  }
}
